<div class="text-center">
    <img src="{{  asset("build/images/circus-tent-logo.jpg") }}">
</div>
<nav class="nav ">
    <a class="nav-link active" href="#">Présentation</a>
    <a class="nav-link" href="#">La galerie</a>
    <a class="nav-link" href="#">Nous contacter</a>
</nav>
