<div class="text-center">
    <img src="{{  asset("build/images/circus-tent-logo.jpg") }}">
</div>
<nav class="nav bg-dark">
    <a class="nav text-decoration-none active" href="{{ path('home_index') }}">Présentation</a>
    <a class="nav text-decoration-none" href="{{ path('pictures_index') }}">La galerie</a>
    <a class="nav text-decoration-none" href="{{ path('upload_index') }}">Ajouter vos photographies</a>
</nav>
