{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h4>Qui sommes-nous ? </h4>
    <br>
    <div>
        <p>
            {% for text in texts %}
                {{ text.text }}
            {% endfor %}
        </p>
    </div>
    <br>
    <div class="youtube">
        <iframe src="https://www.youtube.com/embed/7lWevAdzOgo" width="50%" frameborder="1" allowfullscreen></iframe>
    </div>

{% endblock %}
