@import "~bootstrap/scss/bootstrap";

body{
  background-color: white;
  color: #182424 !important;
}

.nav{
  color: white !important;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;

}

.youtube{
  display: flex;
  justify-content: center;
  align-items: center;
}